p{font-family:sans-serif;  font-size:13pt;word-spacing=4pt; line-height:120%}
h1{font-family;font-size:26pt}
 #pb{color:#ff4500;font-size:19pt;font-family: serif}
 #zag{  font-size:17pt}
 #epig{color:#ffffff; font-size:16pt;font-family: serif}
body{background-color:#006645}
a:visited,a:link{color:#996600}
img{border:0}
h3{color:#ffffff;font-size:18pt}
h4{font-size:17pt}
h2{font-size:20pt;color:#996600}
#a{color:#ffffff;font-size:14pt;}
#er{background-color:#ffffff; font-size:14pt;word-spacing=4pt;}